log/

*.exe
*.out
*.toml
*.cfg
bin/
control/bin/
node/start.sh
node/node_dir/config/config.toml
node/config.toml
flyfish/flyfish

*.log
.idea
.DS_Store


kv-1-*/
control/program/
tempcfg/
config.js

node/configs/Makefile

.vscode
frpcc/frpcc

upload/workspace
table.sh